.search-box {
    display: block;
    color: #FFDC73;
    background: linear-gradient(142.99deg, rgba(255, 255, 255, 0.141) 15.53%, rgba(243, 243, 243, 0.321) 88.19%);
    box-shadow: 0px 12px 24px -1px #FFDC73;
    border-color: rgba(182, 155, 245, 0);
    border-radius: 50px;
    block-size: 20px;
    margin: 7px 0px;
    padding: 18px 15px;
    outline: none;
    text-align: center;
    width: 200px;
    transition: 0.5s;
  }
  .search-box::placeholder{
    color: #FFDC73;
  }
  .search-box:hover {
    width: 240px;
  }
  
  .search-box:focus {
    width: 280px;
  }